.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(3, 7, 18, 0.7);
    color: white;
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1.5rem;
    user-select: none;
    border-bottom-left-radius: 0.75rem;
}

.text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 0.5rem;
}
